{{#each data }}
<tr type="{{ type }}">
	<td>{{ name }}</td>
	<td>{{ size }}</td>
	<td class="md-hidden-xs">
		{{#if last_update }}
			{{ last_update }}
		{{ else }}
		-
		{{/if }}
	</td>
	<td>
		{{#if help }}
		<button class="btn" name="gotoHelp" onclick="gotoHelp()">查看帮助文档</button>
		{{ else }}
		-
		{{/if }}
	</td>
</tr>
{{/each }}